@model FitnessCenter.Models.WorkoutProgram

@{
    ViewBag.Title = "Избриши";
}

<h2>Избриши</h2>

<h3>Дали сте сигурни дека сакате да го избришете овој запис?</h3>
<div>
    <h4>Програма за вежбање</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt><label>Тренер</label></dt>
        <dd>@ViewData["Trainer_" + Model.Id]</dd>

        <dt><label>Ime на програма</label></dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt><label>Опис</label></dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt><label>Ниво</label></dt>
        <dd>@Html.DisplayFor(model => model.Level)</dd>

        <dt><label>Времетраење во денови</label></dt>
        <dd>@Html.DisplayFor(model => model.DurationInDays)</dd>

        <dt><label>Наменето за</label></dt>
        <dd>@Html.DisplayFor(model => model.TargerGender)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-danger me-3" />
            @Html.ActionLink("Назад до листата", "Index", null, new { @class = "btn btn-light border-dark" })
        </div>
    }
</div>