@model IEnumerable<FitnessCenter.Models.WorkoutProgram>

@{
    ViewBag.Title = "Програми за вежбање";
}

<h2>Програми за вежбање</h2>

<p>@Html.ActionLink("Создади нов запис", "Create")</p>
<table class="table table-bordered table-striped mt-4">
    <tr>
        <th>Тренер</th>
        <th>Програма</th>
        <th>Опис</th>
        <th>Ниво</th>
        <th>Времетраење во денови</th>
        <th>Наменето за</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@ViewData["Trainer_" + item.Id]</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Level)</td>
            <td>@Html.DisplayFor(modelItem => item.DurationInDays)</td>
            <td>@Html.DisplayFor(modelItem => item.TargerGender)</td>
            <td>
                @Html.ActionLink("Измени", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Детали", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Избриши", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>