@model FitnessCenter.Models.ProfileViewModel

@{
    ViewBag.Title = "Профил на корисник";
}

<h2>Профил на корисник</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        @if (User.IsInRole("Member") || User.IsInRole("Trainer"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Goal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Goal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
        }
    </dl>
</div>
<p>
    @if (User.IsInRole("Member"))
    {
        @Html.ActionLink("Измени", "Edit", new { id = Model.Id }, new {@class = "btn btn-warning"})
    }
</p>
